# VITE_API_BASE_URL=http://localhost:8000/api
VITE_GOOGLE_API_KEY=AIzaSyB9m0Rl2XtILdvyM-MnaiHiiKbbiImFXko
VITE_GOOGLE_CLIENT_ID=274993654937-hgd4i16ksmb0057jrqu9cmv6ha4edobf.apps.googleusercontent.com
VITE_GOOGLE_APP_ID=274993654937
